:root {
  /* Variable Colors */
  --mm-color-primaryDark: #283618;
  --mm-color-accentGreen: #4C9558;
  --mm-color-accentOrange: #BC6C25;
  --mm-color-accentYellow: #E5BA41;
  --mm-color-baseWhite: #FFFFFF;
  --mm-color-baseOlive: #606C38;
  --mm-color-baseMint: #E9EDC9;
  --mm-color-baseCream: #FFF7E0;

  /* Variable Font Families */
  --mm-font-display: "Comfortaa", Helvetica, Arial, sans-serif;
  --mm-font-main: "Manrope", Helvetica, Arial, sans-serif;

  /* Variable Font Weights */
  --mm-weight-bold: 700;
  --mm-weight-semibold: 600;
  --mm-weight-regular: 400;
  --mm-weight-light: 300;

  /* Variable Type Scale */
  --mm-text-hero: clamp(2.5rem, 2rem + 2vw, 3.813rem);
  --mm-text-h1: clamp(2rem, 1.7rem + 1.5vw, 3.063rem);
  --mm-text-h2: clamp(1.625rem, 1.4rem + 1vw, 2.438rem);
  --mm-text-h3: clamp(1.375rem, 1.2rem + 0.7vw, 1.938rem);
  --mm-text-h4: clamp(1.125rem, 1rem + 0.4vw, 1.25rem);
  --mm-text-body: 1rem;
  --bs-nav-link-font-size: 0.75rem;

  /* Variable Line Heights */
  --mm-line-tight: 1.1;
  --mm-line-reg: 1.2;
  --mm-line-loose: 1.5;
}


body {
  background-color: color-mix(in srgb, var(--mm-color-baseCream) 70%, transparent);
}

/* Text Styles */
.text-dark {
  color: var(--mm-color-primaryDark);
}


.text-light {
  color: var(--mm-color-baseCream);
}

.hero-text {
  font-family: var(--mm-font-display);
  font-size: var(--mm-text-hero);
  font-weight: var(--mm-weight-bold);
  line-height: var(--mm-line-tight);
}

h1 {
  font-family: var(--mm-font-display);
  font-size: var(--mm-text-h1);
  font-weight: var(--mm-weight-semibold);
  line-height: var(--mm-line-tight);
}

h2 {
  font-family: var(--mm-font-main);
  font-size: var(--mm-text-h2);
  font-weight: var(--mm-weight-regular);
  line-height: var(--mm-line-reg);
}

h3 {
  font-family: var(--mm-font-main);
  font-size: var(--mm-text-h3);
  font-weight: var(--mm-weight-semibold);
  line-height: var(--mm-line-reg);
}

h4 {
  font-family: var(--mm-font-main);
  font-size: var(--mm-text-h4);
  font-weight: var(--mm-weight-semibold);
  line-height: var(--mm-line-reg);
}

h6 {
  font-family: var(--mm-font-main);
  font-size: var(--bs-nav-link-font-size);
  font-weight: var(--mm-weight-semibold);
  line-height: var(--mm-line-reg);
  text-transform: uppercase;
  letter-spacing: 0.05rem;
}

p {
  font-family: var(--mm-font-main);
  font-size: var(--mm-text-body);
  font-weight: var(--mm-weight-regular);
  line-height: var(--mm-line-loose);
  letter-spacing: 0.04rem;
}

a {
  color: var(--mm-color-accentOrange);
  transition: color 0.3s ease;
}

a:hover {
  color: var(--mm-color-accentYellow);
}

.green-text {
  color: var(--mm-color-accentGreen);
}

/* Navigation Bar Styles */
nav.bg-body-tertiary  {
  font-weight: var(--mm-weight-semibold);
  background-color: var(--mm-color-baseCream) !important;
}

nav a {
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-family: var(--mm-font-main);
}

nav {
  position: relative;
  z-index: 999;
}

/* Footer Styles */
footer {
  background-color: var(--mm-color-primaryDark);
  color: var(--mm-color-baseCream);
  padding: 1.5rem 0;
}

footer span {
  text-transform: uppercase;
  font-size: 0.7rem;
  letter-spacing: 0.1rem;
}

footer .nav-link, footer a {
  color: var(--mm-color-baseCream);
}

/* Button Styles */
.btn {
  font-family: var(--mm-font-main);
  text-transform: uppercase;
  font-weight: var(--mm-weight-bold);
  padding: .7rem 1rem;
  font-size: .75rem;
  letter-spacing: 0.1rem;
  border: none;
  cursor: pointer;
}

.btn-light {
  background-color: var(--mm-color-baseCream);
  color: var(--mm-color-primaryDark);
}

.btn-dark {
  background-color: var(--mm-color-primaryDark);
  color: var(--mm-color-baseWhite);
}

.btn-greenb {
  border: 1px solid var(--mm-color-primaryDark);
  background-color: transparent !important;
}

/* Divider Styles */
.green-divider {
  border: 1px solid var(--mm-color-accentGreen);
  opacity: 1;
  z-index: 5;
}

/* Home Page Styles */
.hero-video video, .video-overlay, #home-hero-shape {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 570px;
}

.hero-video video {
  object-fit: cover;
  z-index: 0;
}

.video-overlay {
  background-color: rgba(22, 18, 1, 0.4);
  object-fit: cover;
  pointer-events: none;
  z-index: 1
}

#home-hero-shape {
  top: 20vh;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}

#home-feature-shape {
  position: absolute;
  top: 520px;
  margin: auto 0;
  z-index: 2;
}

.home-hero-text {
  width: clamp(360px, 40vw, 600px);
  margin: 0 auto;
  z-index: 4;
}

#home-cutout-woman-carrying-bread {
  top: 50%;
  left: 50%;
  transform: translate(-20%, -50%);
  width: clamp(200px, 30vw, 300px);
  z-index: 3;
}

#home-cutout-cake-slice {
  top: 50%;
  left: 50%;
  transform: translate(180%, 80%);
  width: clamp(80px, 10vw, 120px);
  z-index: 3;
}

.home-feature-content {
  position: relative;
  top: -215px;
  margin-bottom: -170px;
  z-index: 3;
}

#collab-logo {
  width: clamp(300px, 80%, 650px);
}

.home-feature-tile {
  width: 100%;
  height: 450px;
  object-fit: cover;
}

#home-merch-shape {
  position: absolute;
  top: 1120px;
  width: clamp(200px, 30vw, 400px);
  z-index: 3;
}

.home-merch .card-group {
  gap: 1rem;
}

.home-merch .card {
  border: none;
  background-color: transparent;
  z-index: 4;
}

.home-merch .card-body {
  padding: .5rem 0;
}

.home-merch .card-img-top {
  height: 400px;
  object-fit: cover;
  object-position: top;
}

.home-merch h2 {
  position: absolute;
  color: var(--mm-color-baseCream);
  margin-top: -55px;
  z-index: 5;
} 

#home-cutout-man-sitting {
  width: clamp(150px, 30vw, 250px);
  z-index: 0;
}

/* Newsletter Field */
.newsletter-signup {
  background-color: var(--mm-color-baseMint);
  height: 270px;
}

.newsletter-signup .newsletter-form {
  gap: 0.5rem;
}
.newsletter-signup .newsletter-field {
  min-width: 350px;
  max-width: 620px;
}
.newsletter-signup .newsletter-input {
  border-radius: 8px;
}
.newsletter-signup .newsletter-submit {
  border-radius: 8px;
  padding: 20px 30px;
}
